/*#container {
    display: flex;
}*/

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.title, .extLink {
    background-color: #3daee9;
    border: 1px solid black;
    text-align: center;
}

.title {
    width: 70%;
    color: #eeeeee;
}

.extLink {
    width: 87px;
    border-radius: 10px;
}

.extLink a {
    display: block;
    text-decoration: none;
    color: #eeeeee;
}

/*.title, .extLink {
    background-color: #3daee9;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px 20px 2px 20px;
}*/

