* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eff0f1;
    font-family: "Ubuntu", sans-serif;
}

.mobile {
    display: inline;
}

.desktop {
    display: none;
}

header {
    background-color: #1998da;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    cursor: pointer;
    margin-right: auto;
}

.navbar {
    display: flex;
    
}

.navBar ul {
    display: flex;
    text-decoration: none;
}

.navBar li {
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    padding: 0px 20px 0px 20px;
    margin: 0px;
}

.navBar a, li {
    text-decoration: none;
    font-family: "Ubuntu mono", monospace;
    color: #eff0f1;
    border-radius: 15px;
}

.navBar a, li:hover {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.menuBtn {
    cursor: pointer;
}

/* The side navigation menu */
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* stay at the top */
    right: 0;
    background-color: #1478ad;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
    transition: 0.3s; /* 0.5 second transition tffect to slide in the sideNav */
}

/* The navigation menu links */
.sideNav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button in the top right corner */
.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main {
    display: relative;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px black solid;
}

@media only screen and (min-width: 830px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: inline;
    }

    main {
        width: 80%;
    }
}