* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E4DCC9;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.desktop {
    display: none;
}

.mobile {
    display: inline;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2% 0 2%;
    height: 12vw;
    background-color: #FAF8E9;
    border-bottom: 1px solid #939881;
}

main {
    min-height: calc(100vh - 156px);    
}

footer {
    position: relative;
    text-align: center;
    background-color: #FAF8E9;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

.logo {
    width: 70%;
}

.sidenav {
    height: calc(100% - 100px);
    width: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #FAF8E9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;  
}

.dropdown {
    display: none;
    text-align: center;
}

.dropdownM {
    display: none;
    text-align: center;
}

.burger {
    max-height: 80%;
}
.centered {
    text-align: center;
}

#sect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/pexels-anthony-157540.jpg");
    height: 500px;
    background-size: cover;
}

#sect1Text {
    text-align: center;
    font-size: 80px;
    color: white;
    padding: 0 3% 0 3%;
}

#sect2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2Text {
    text-align: center;
    padding: 0 3% 0 3%;
}

/* Anything below here will appear on a desktop */
@media only screen and (min-width: 830px) {
    
    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }

    .navbar {
        display: block;
        height: 100%;
	text-align: center;
    }

    .navbar a {
        text-decoration: none;
        color: black;
    }

    .navbar > ul {
        font-size: 34px;
        align-self: flex-end;
    }
    
    .navbar li {
        display: inline;
        list-style: none;
        color: black;
        margin: 0 7px 0 7px;
        font-weight: bold;
    }

    .menu {
        position: relative;
        cursor: pointer;
    }

    .convertCont {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        top: 170px;
        left: 0%;
        padding: 0 9% 0 9%;
        background-color: #FAF8E9;
        border-top: 0px;
        z-index: 0;
    }

    .convertCont li {
        text-align: center;
        display: block;
        padding: 10px 0 10px 0;
    }

    .box {
        background-color: white;
        width: 250px;
        height: 250px;
        margin: 10px;
        border: 1px solid black;
    }

    .box p {
        text-align: center;
    }

    .logo {
	width: 70%;
	display: block;
	margin: 0 auto;
    }

    .convertCont {
	
    }

    header {
	display: flex;
	flex-direction: column;
	height: initial;
	padding: 10px 0 10px 0;
    }

    #sect2 {
        margin: 0 9% 0 9%;
    }

    #sect1Text {
        text-align: center;
        font-size: 80px;
        color: white; 
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    #sect2Text {
        text-align: center;
        padding: 0 9% 0 9%;
    } 
}

