* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E4DCC9;
    position: relative;
    min-height: 100vh;
}

.desktop {
    display: none;
}

.mobile {
    display: inline;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3% 0 3%;
    height: 100px;
    background: #FFFAF4;
    border-bottom: 2px solid #BBA79C;
}

main {
    min-height: calc(100vh - 156px);
}

footer {
    position: relative;
    text-align: center;
    background-color: #FAF8E9;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

.logo {
    max-height: 95%;
    margin-right: auto;
}

.sidenav {
    display: none;
}

.sidenav a {
    text-decoration: none;
    color: black;
    margin: 0 7px 0 7px;
    font-weight: bold;
}

.sidenav li {
    list-style: none;
    text-align: center;
}

#sect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/backgrounds/pexels-anthony-157540.jpg");
    height: 500px;
    background-size: cover;
}

#sect1Text {
    text-align: center;
    font-size: 80px;
    color: white;
    padding: 0 3% 0 3%;
}

#sect2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2Text {
    text-align: center;
    padding: 0 3% 0 3%;
}

/* Anything below here will appear on a desktop */
@media only screen and (min-width: 830px) {
    
    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }

    .navbar {
        display: flex;
        align-self: flex-end;
        height: 100%;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        margin: 0 7px 0 7px;
    }

    .navbar > ul {
        /*display: flex;*/
        align-self: flex-end;
    }
    
    .navbar li {
        display: inline;
        list-style: none;
        color: black;
        margin: 0 7px 0 7px;
        font-weight: bold;
    }

    .menu {
        position: relative;
        cursor: pointer;
    }

    .dropdown {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0%;
        background-color: #FFFAF4;
        border: 2px solid #BBA79C;
        border-top: 0px;
        border-radius: 0 0 5px 5px;
    }

    .dropdown li {
        text-align: center;
        display: block;
        padding: 10px 0 10px 0;
    }

    header {
        padding: 0 17% 0 17%;
    }

    #sect1Text {
        text-align: center;
        font-size: 80px;
        color: white;
        padding: 0 17% 0 17%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    #sect2Text {
        text-align: center;
        padding: 0 17% 0 17%;
    } 
}

